* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(46, 45, 45);
  gap: 35px;
}

h2 {
  background-color: rgb(46, 45, 45);
  font-size: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#typeArea {
  padding: 10px;
  background-color: azure;
  border-radius: 5px;
  margin-right: 5px;
}

#addButton {
  background-color: blue;
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
  border: none;
  font-size: large;
}
.ListButton {
  display: flex;
  flex-direction: column;
}

#taskList {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  padding: 20px;
  font-size: larger;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(41, 40, 40);
  gap: 50px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#taskList button {
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  font-size: large;
}
